/* line 6, ../sass/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
}

/* line 110, ../sass/style.scss */
.linkContainer {
  padding-bottom: 5px;
}

/* line 114, ../sass/style.scss */
.container {
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 25.42373%;
  clear: none;
}

/* line 121, ../sass/style.scss */
input {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  clear: left;
  font-size: 20px;
  padding: 10px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 131, ../sass/style.scss */
button {
  width: 15.25424%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  background-color: #0688fa;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  /* text-align: center; */
  text-shadow: 0px 2px 3px #263666;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 151, ../sass/style.scss */
#searchList {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 500px;
  margin-top: 50px;
}
/* line 59, ../sass/style.scss */
#searchList ul {
  height: 400px;
  overflow: auto;
}
/* line 62, ../sass/style.scss */
#searchList ul li {
  display: block;
  position: relative;
  min-height: 40px;
  line-height: 40px;
  			/* .favP{
  				left:73%;
  				top:-5%;
  			}
  			.mfP{
  				left:88%;
  				top:-5%;
  
  			} */
}
/* line 67, ../sass/style.scss */
#searchList ul li input {
  vertical-align: middle;
}
/* line 70, ../sass/style.scss */
#searchList ul li a.mf, #searchList ul li a.fav {
  /* position: absolute; */
  float: right;
  height: 20px;
  padding: 2px;
  cursor: pointer;
  line-height: 16px;
  border: 1px solid #A5BBF8;
  margin: 4px 4px 0px 0px;
  background-color: #7197FF;
  color: #FFFFFF;
  text-shadow: 0px 2px 3px #263666;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  display: inline-block;
}
/* line 84, ../sass/style.scss */
#searchList ul li a.mf:hover, #searchList ul li a.fav:hover {
  background-color: #4D7DFF;
}
/* line 98, ../sass/style.scss */
#searchList ul li label {
  vertical-align: middle;
  padding-left: 10px;
}
/* line 154, ../sass/style.scss */
#searchList .error {
  padding: 10px;
  background-color: #FAB3B3;
  font-style: oblique;
  color: #F62424;
}
/* line 160, ../sass/style.scss */
#searchList .loadOuter {
  margin-left: 30%;
}
/* line 163, ../sass/style.scss */
#searchList ul {
  padding-left: 0px;
}
/* line 165, ../sass/style.scss */
#searchList ul li {
  padding-left: 10px;
  background-color: #EBEBEB;
  margin-bottom: 2px;
}
/* line 169, ../sass/style.scss */
#searchList ul li .selected {
  color: orange !important;
  font-weight: bold;
}

/* line 179, ../sass/style.scss */
.moreInfo {
  -webkit-transition: height 1s linear;
  border: 1px solid white;
  min-height: 16px;
  background: -webkit-radial-gradient(50% 50%, circle, whitesmoke, #acacac);
  background: -moz-radial-gradient(50% 50%, circle, whitesmoke, #acacac);
  background: -ms-radial-gradient(50% 50%, circle, whitesmoke, #acacac);
  background: -o-radial-gradient(50% 50%, circle, whitesmoke, #acacac);
}
/* line 183, ../sass/style.scss */
.moreInfo .loadInner {
  margin-left: 45%;
  width: 16px;
}
/* line 189, ../sass/style.scss */
.moreInfo header {
  font-size: 1em;
  padding: 0px 10px;
  font-family: sans-serif;
  font-style: obliqu;
  font-weight: bold;
  color: #3D6149;
}
/* line 197, ../sass/style.scss */
.moreInfo div.detail {
  width: 57.62712%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  border-right: 1px solid white;
}
/* line 201, ../sass/style.scss */
.moreInfo div.detail span {
  padding: 0px 5px;
  display: block;
  color: #3D6149;
  word-wrap: break-word;
}
/* line 206, ../sass/style.scss */
.moreInfo div.detail span a {
  color: teal;
}
/* line 211, ../sass/style.scss */
.moreInfo .dispimage {
  width: 40.67797%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 216, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 220, ../sass/style.scss */
#favourites {
  width: 23.72881%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  height: 400px;
  margin-top: 9%;
  position: relative;
  border: 10px solid gray;
  -webkit-transition-property: left;
  -o-transition-property: left;
  -moz-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 59, ../sass/style.scss */
#favourites ul {
  height: 380px;
  overflow: auto;
}
/* line 62, ../sass/style.scss */
#favourites ul li {
  display: block;
  position: relative;
  min-height: 30px;
  line-height: 30px;
  			/* .favP{
  				left:73%;
  				top:-5%;
  			}
  			.mfP{
  				left:88%;
  				top:-5%;
  
  			} */
}
/* line 67, ../sass/style.scss */
#favourites ul li input {
  vertical-align: middle;
}
/* line 70, ../sass/style.scss */
#favourites ul li a.mf, #favourites ul li a.fav {
  /* position: absolute; */
  float: right;
  height: 20px;
  padding: 2px;
  cursor: pointer;
  line-height: 16px;
  border: 1px solid #A5BBF8;
  margin: 4px 4px 0px 0px;
  background-color: #7197FF;
  color: #FFFFFF;
  text-shadow: 0px 2px 3px #263666;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  display: inline-block;
}
/* line 84, ../sass/style.scss */
#favourites ul li a.mf:hover, #favourites ul li a.fav:hover {
  background-color: #4D7DFF;
}
/* line 98, ../sass/style.scss */
#favourites ul li label {
  vertical-align: middle;
  padding-left: 10px;
}
/* line 228, ../sass/style.scss */
#favourites ul {
  padding-left: 0px;
  margin-top: 0px;
}
/* line 231, ../sass/style.scss */
#favourites ul li {
  padding-left: 10px;
  background-color: #EBEBEB;
  margin-bottom: 2px;
}
/* line 238, ../sass/style.scss */
#favourites span {
  cursor: pointer;
  position: absolute;
  z-index: 999;
  color: white;
  font-size: 1.1em;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: gray;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  padding: 5px;
  top: 45%;
  left: 91%;
}
/* line 252, ../sass/style.scss */
#favourites.show {
  left: 0%;
}
/* line 255, ../sass/style.scss */
#favourites.hide {
  left: -24%;
}
